<style>

    .product-list{
        display:flex;
        flex-wrap:wrap;
        list-style-type:none;
        text-align: center;
    }

    .product-list img {
        transition: transform .2s;
    }

    .product-list img:hover{
        transform: scale(1.5);
    }

    .product-list-item{
        margin:20px;
        width:35%;
        background-color: rgba(224,224,224,0.3);
        padding:20px;
    }
    
    .product-list-item a{
        margin-top: 10px;
    }    
</style>




<div class="page-width">
    {% if heading != blank %}
        <h2>{{heading}}</h2>
    {% endif %}

    <ul class="product-list">
        {% for product in collections[collection_handle].products %}
            <li class="product-list-item">
                <img src="{{ product.featured_image | image_url: width: 200}}" alt="" loading="lazy" width="150" height="150">
                
                <div class="product-list-group">
                    <h3>{{product.title}}</h3>
                    <del>{{product.compare_at_price | money}}</del>     
                    {{product.price | money_with_currency }}
                    <div>   
                        <a href="#" class="button" {% if product.available %} disabled {%endif%}>
                            {{'general.shop_now.shop_now'| t}}
                        </a> 
                    </div>   
                </div>
                
            </li> 
        {% endfor %}
    </ul>
</div>
