<style>
    .page-width {
         margin: auto;
         width:80%;
    }

    .product-list{
        display:flex;
        flex-direction:row;
        justify-content:center;
        list-style-type:none;
        text-align: center;

    }

    .product-list img {
        transition: transform .2s;
    }

    .product-list img:hover{
        transform: scale(1.5);
    }

    .product-list-item{
        margin:10px;
        background-color: rgba(224,224,224,0.3);
        padding:20px;
        flex:50%;
    }
    
    .product-list-item a{
        margin-top: 10px;
    }  
    
    @media (max-width: 800px) {
   .product-list {
    flex-direction: column;
  }
</style>



<div class="page-width">
    {% if  section.settings.heading != blank %}
        <h2>{{section.setting.heading}}</h2>
    {% endif %}

    <ul class="product-list">
        {% for product in collections[section.settings.collection].products %}
            <li class="product-list-item">
                <img src="{{ product.featured_image | image_url: width: 200}}" alt="" loading="lazy" width="150" height="150">
                
                <div class="product-list-group">
                    <h3>{{product.title}}</h3>
                    <del>{{product.compare_at_price | money}}</del>     
                    {{product.price | money_with_currency }}
                    <div>   
                        <a href="{{product.url}}" class="button" {% if product.available %} disabled {%endif%}>
                            {{'general.shop_now.shop_now'| t}}
                        </a> 
                    </div>   
                </div>
                
            </li> 
        {% endfor %}
    </ul>
</div>

{%render 'product-list' heading:section.setting.heading, collection_handle:collection%}


{% schema %}
{
    "name": "Product List",
    "tag": "section",
    "class": "product-list",
    "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "Label",
        "default": "Product List"
    },
    {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
    }
    ],
     "presets": [
    {
      "name": "Product List",
      "category": "Product"
    }
  ]
}
{% endschema %}
