{% stylesheet %}
    .excersize_example {
        position:relative;
        margin-top:100px;
    }

    .excersize_image img {
        width:100%;
        height:auto;
    }

    .excersize_content {
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        background: #fff;
        padding:30px;
    }
{% endstylesheet %}



<div class="excersize_example">
    <div class="excersize_image">
        {% if section.settings.background_image != blank %}
            <img src="{{section.settings.background_image | image_url: width: 600 }}" alt="" width="500" height="200" loading="lazy">
        {% else %}
            {{'lifestyle-1' | placeholder_svg_tag}}
        {% endif %}
    </div>
    <div class="excersize_content">
        {% if section.settings.heading != blank %}
            <h2>{{ section.settings.heading }}</h2>
        {%endif%}
        {{section.settings.content}}
        {% if section.settings.button_link != blank and section.settings.button_text != blank %}
            <a href="{{section.setting.button_link}}" class="button">
                {{ section.settings.button_text }}
            </a>
        {% endif %}
    </div>
</div>

{% schema %}
{
    "name": "call-to-Action",
    "tag": "section",
    "class": "excersize-example",
    "settings": [
    {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background_image"
    },
    {
        "type": "text",
        "id": "heading",
        "label": "Heading"
    },
    {
        "type": "richtext",
        "id": "content",
        "label": "Content"
    },
    {
        "type": "url",
        "id": "button_link",
        "label": "Button_link"
    },
    {
        "type": "text",
        "id": "button_text",
        "label": "Button_text"
    }
    ]
}
{% endschema %}